<div class="card-container">
  <div class="card" style="width: auto;height:100%;padding:1em">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <p>
      <input type="text" matInput placeholder="First Name" formControlName="fName" />
    </p>
    <p>
      <input type="text" matInput placeholder="Last Name" formControlName="lName" />
    </p>
    <p>
      <input type="text" matInput placeholder="Email Address" formControlName="email" />
    </p>
    <p>
      <input type="password" matInput placeholder="Password" formControlName="password" />
    </p>
    <p *ngIf="err" style="color:red">
      {{ err }}
    </p>
    <div>
      <a (click)="gotoLogin()">
        Login instead
      </a>
      <span style="margin-left: 135px;">
        <button type="submit" color="primary">Register</button>
      </span>
    </div>
  </form>
  </div>
</div>
